body {
  background: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  color: aquamarine;
}

input {
  background-color: transparent;
  outline: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background: transparent;
}

.form-filter {
  color: pink;
}

.form-filter label,
.form-person label {
  margin-right: 10px;
}

.form-filter input {
  color: pink;
  padding: 5px;
  border: 1px solid pink;
}

.form-person {
  color: orange;
}

.form-person input {
  color: orange;
  padding: 5px;
  border: 1px solid orange;
  margin-bottom: 15px;
}

.form-person button {
  display: block;
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  padding: 6px 20px;
  text-transform: capitalize;
  font-weight: bold;
}

.form-person button:hover {
  background-color: orange;
  color: #333;
}

.person-item {
  color: #ccc;
  font-size: 15px;
}

.person-item button {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  margin-left: 10px;
}

.person-item button:hover {
  background-color: #ccc;
  color: #333;
}

.notification {
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.notification-success {
  color: greenyellow;
  border: 1px solid greenyellow;
}

.notification-failed {
  color: orangered;
  border: 1px solid orangered;
}
